{% set logstash = salt['grains.filter_by']({
    'Debian': {
        'logstash': 'https://download.elasticsearch.org/logstash/logstash/packages/debian/logstash_1.4.2-1-2c0f5a1_all.deb',
        'elasticsearch': 'https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.2.1.deb',
        'nginx': 'nginx',
        'nginx_path': '/etc/nginx/sites-enabled',
        'java': 'openjdk-7-jdk',
        'git': 'git',
        'wget': 'wget',
        'unzip': 'unzip',
        'pip': 'python-pip',
    },
    'RedHat': {
        'logstash': 'https://download.elasticsearch.org/logstash/logstash/packages/centos/logstash-1.4.2-1_2c0f5a1.noarch.rpm',
        'elasticsearch': 'https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.2.1.noarch.rpm',
        'nginx': 'nginx',
        'nginx_path': '/etc/nginx/conf.d',
        'java': 'java-1.7.0-openjdk',
        'git': 'git',
        'wget': 'wget',
        'unzip': 'unzip',
        'pip': 'python-pip',
    },
}, merge=salt['pillar.get']('logstash:lookup')) %}
